@model List<Category>
@{
    Layout = "_businessAccLayout";
}

<div class="container">
    <div class="row" style="margin:30px; padding:10px  ">
        <table class="table table-bordered" style=" border: 1px solid #000000; text-align: center;">

            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Type
                </th>
                <th colspan="2">
                    Actions
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.type</td>
                    <td>
                        <a class="btn btn-dark" style="color:white; border: 1px solid red;  background-color: #000000" asp-action="Edit" asp-controller="Category" asp-route-id="@item.Id">Edit</a>
                    </td>

                    <td>
                        <a class="btn btn-dark" style="color:white; border: 1px solid red;  background-color: #000000" asp-action="Delete" asp-controller="Category" asp-route-id="@item.Id" onclick="ConfirmDelete(event)">Delete</a>
                    </td>
                </tr>
            }

          
        </table>

        <a class="btn btn-dark" style="color:white; border: 1px solid red;  background-color: #000000" asp-action="Add_categoery" asp-controller="Category">Add new Categoery</a>

    </div>
</div>





<script>
    function ConfirmDelete() {
        document.getElementById("")
        var accept = confirm("Are You Sure?");
        if (accept == false) {
            event.preventDefault();
        }
    }
</script>